.britney-ft {
    font-family: 'Britney', cursive;
}

.chillax-ft {
    font-family: 'Chillax', sans-serif;
}

.wmde-markdown {
    background-color: transparent !important;
}

pre {
    background: var(--color-neutral) !important;
}
