.britney-ft {
    font-display: swap;
    font-family: 'Britney', cursive;
}

.chillax-ft {
    font-display: swap;
    font-family: 'Chillax', sans-serif;
}

.wmde-markdown {
    background-color: transparent !important;
}

pre {
    background: var(--color-base-200) !important;
}
